@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'variables';
@import 'reset';

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $black;
  color: $white;
  font-family: 'Roboto', sans-serif;
  padding: 20px;

  #root {
    height: 100%;
    width: 90%;

    .App {
      height: 100%;

      .marsObjects {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 100%;

        .showMoreBtn {
          background-color: $black;
          color: $white;
          border: none;
          outline: none;
          margin-left: 5px;
          font-weight: 500;
          font-size: 1.2rem;

          &:hover {
            color: #8ae0de;
            cursor: pointer;
          }
        }

        .moreInfo {
          font-size: 0.8rem;
          padding-left: 30px;
        }
      }

      #loading {
        height: 400px;
        width: auto;
        background-image: url("../img/loadingSmall.gif");
        background-repeat: no-repeat;
        object-fit: contain;
      } 
    }
  } 
}

@media screen and (min-width: 750px) {
  body {
    padding-left: 20%;
    padding-top: 10%;
    font-size: 1.2rem;
  
    #root {
  
      .App {

        .marsObjects {
          display: flex;
          flex-direction: column;
          gap: 5px;
          height: 100%;
  
          .showMoreBtn {
            background-color: $black;
            color: $white;
            border: none;
            outline: none;
            margin-left: 5px;
            font-weight: 500;
            font-size: 1.2rem;
          }
        }  
  
        #loading {
          background-image: url("../img/loading.gif");
        } 
      }
    } 
  }
}






