@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;300;400;500;700&display=swap");
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

body #root {
  height: 100%;
  width: 90%;
}

body #root .App {
  height: 100%;
}

body #root .App .marsObjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  height: 100%;
}

body #root .App .marsObjects .showMoreBtn {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  margin-left: 5px;
  font-weight: 500;
  font-size: 1.2rem;
}

body #root .App .marsObjects .showMoreBtn:hover {
  color: #8ae0de;
  cursor: pointer;
}

body #root .App .marsObjects .radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

body #root .App .marsObjects .radios .radioTop,
body #root .App .marsObjects .radios .radioBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

body #root .App .marsObjects .filtered {
  margin-top: 15px;
}

body #root .App .marsObjects .moreInfo {
  font-size: 0.8rem;
  padding-left: 30px;
}

body #root .App #loading {
  height: 400px;
  width: auto;
  background-image: url("../img/loadingSmall.gif");
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 750px) {
  body {
    padding-left: 20%;
    padding-top: 10%;
    font-size: 1.2rem;
  }
  body #root .App h1 {
    font-size: 3rem;
  }
  body #root .App .marsObjects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    height: 100%;
  }
  body #root .App .marsObjects .showMoreBtn {
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    margin-left: 5px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  body #root .App #loading {
    background-image: url("../img/loading.gif");
  }
}
/*# sourceMappingURL=style.css.map */